.status{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: block;
}


.online{
    composes: status;
    background-color: green;

}

.offline {
    composes: status;
    background-color: red;
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgb(207, 236, 255);

}

.friendsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 332px;
}

.name{
    font-size: 20px;
}

